In [1]:

import os
from dotenv import load_dotenv
load_dotenv()

db_user = os.environ.get('DB_USER')
db_password = os.environ.get('DB_PASSWORD')
db_host = os.environ.get('DB_HOST')
db_name = os.environ.get('DB_NAME')

os.environ['GOOGLE_API_KEY'] = os.environ.get('GOOGLE_API_KEY')

In [7]:
from langchain_google_genai import ChatGoogleGenerativeAI
from langchain_community.utilities.sql_database import SQLDatabase
from langchain.chains import create_sql_query_chain

In [ ]:
llm = ChatGoogleGenerativeAI(model="gemini-pro")
result = llm.invoke("Write a ballad about LangChain")
print(result.content)

## SQL connection

In [6]:
# db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=1,include_tables=['customers','orders'],custom_table_info={'customers':"customer"})
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")
print(db.dialect)
print(db.get_usable_table_names())
print(db.table_info)

mysql
['adminapp_companyprofile', 'adminapp_jobapplication', 'adminapp_jobposting', 'auth_group', 'auth_group_permissions', 'auth_permission', 'auth_user', 'auth_user_groups', 'auth_user_user_permissions', 'django_admin_log', 'django_content_type', 'django_migrations', 'django_session', 'userapp_candidatedetails']

CREATE TABLE adminapp_companyprofile (
	id BIGINT NOT NULL AUTO_INCREMENT,
	company_name VARCHAR(255) NOT NULL,
	company_details LONGTEXT NOT NULL,
	logo VARCHAR(100) NOT NULL,
	company_website VARCHAR(200) NOT NULL,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT adminapp_companyprofile_user_id_c07b6444_fk_auth_user_id FOREIGN KEY(user_id) REFERENCES auth_user (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from adminapp_companyprofile table:
id	company_name	company_details	logo	company_website	user_id
1	Botit	Robotics Company	company_logos/tf_logo_social.png	https://www.tensorflow.org/	1
2	Google	Google LLC is an American multinational corporation and technology company focusing on online advert	company_logos/iphone.jpg	https://www.google.com/	20
3	qualcomm	Qualcomm Incorporated is an American multinational corporation headquartered in San Diego, Californi	company_logos/qualcomm.png	https://www.qualcomm.com/	17
*/


CREATE TABLE adminapp_jobapplication (
	id BIGINT NOT NULL AUTO_INCREMENT,
	job_id VARCHAR(50) NOT NULL,
	job_title VARCHAR(100) NOT NULL,
	candidate_name VARCHAR(100) NOT NULL,
	score DECIMAL(5, 2) NOT NULL,
	phone VARCHAR(15) NOT NULL,
	email VARCHAR(254) NOT NULL,
	experience INTEGER UNSIGNED NOT NULL,
	age INTEGER UNSIGNED NOT NULL,
	resume_link VARCHAR(200) NOT NULL,
	skills JSON NOT NULL,
	technologies JSON NOT NULL,
	score_summary LONGTEXT,
	PRIMARY KEY (id),
	CONSTRAINT adminapp_jobapplication_chk_1 CHECK ((`experience` >= 0)),
	CONSTRAINT adminapp_jobapplication_chk_2 CHECK ((`age` >= 0))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from adminapp_jobapplication table:
id	job_id	job_title	candidate_name	score	phone	email	experience	age	resume_link	skills	technologies	score_summary
1	23	Machine Learning Engineer	Mohammed Shaneeb	70.00	8304046116	shaneebkottakkal@gmail.com	1	20	https://tinyurl.com/2ayahlm7	["QLORA", "Falcon", "NLP", "Gemma", "AWS", "Vector Database", "Chroma DB", "GCP", "Spacy", "LLM", "G	["QLORA", "Pandas", "Classification", "Falcon", "Fine-Tuning", "NLP", "Deep Learning", "NER", "Gemma	The candidate has a strong technical background in ML/DL with experience in NLP, chatbots, and deplo
2	18	MLOPS	Mohammed Shaneeb	20.00	8304046116	shaneebkottakkal@gmail.com	1	20	https://tinyurl.com/2ayahlm7	["QLORA", "Falcon", "NLP", "Gemma", "AWS", "Vector Database", "Chroma DB", "GCP", "Spacy", "LLM", "G	["QLORA", "Pandas", "Classification", "Falcon", "Fine-Tuning", "NLP", "Deep Learning", "NER", "Gemma	The resume does not meet the job requirements as it is heavily focused on machine learning and data
3	17	Machine Learning Engineer	Mohammed Shaneeb	85.00	8304046116	shaneebkottakkal@gmail.com	1	20	https://tinyurl.com/2ayahlm7	["QLORA", "Falcon", "NLP", "Gemma", "AWS", "Vector Database", "Chroma DB", "GCP", "Spacy", "LLM", "G	["QLORA", "Pandas", "Classification", "Falcon", "Fine-Tuning", "NLP", "Deep Learning", "NER", "Gemma	The candidate has a strong background in AI and machine learning, with experience in fine-tuning mod
*/


CREATE TABLE adminapp_jobposting (
	id BIGINT NOT NULL AUTO_INCREMENT,
	title VARCHAR(255) NOT NULL,
	job_description LONGTEXT NOT NULL,
	responsibilities LONGTEXT NOT NULL,
	location VARCHAR(255) NOT NULL,
	domain VARCHAR(255) NOT NULL,
	summary LONGTEXT NOT NULL,
	date DATETIME(6) NOT NULL,
	created_by_id INTEGER NOT NULL,
	company_profile_id BIGINT,
	requirements LONGTEXT NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT adminapp_jobposting_company_profile_id_bfaf9260_fk_adminapp_ FOREIGN KEY(company_profile_id) REFERENCES adminapp_companyprofile (id),
	CONSTRAINT adminapp_jobposting_created_by_id_0c61d044_fk_auth_user_id FOREIGN KEY(created_by_id) REFERENCES auth_user (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from adminapp_jobposting table:
id	title	job_description	responsibilities	location	domain	summary	date	created_by_id	company_profile_id	requirements
7	Machine Learning Engineer	We are seeking a talented and experienced Android AI Solutions Developer to join our team in Kozhiko	Collaborate with cross-functional teams to understand project requirements and develop AI-driven sol	Banglore,India	ML	We are looking for an Android AI Solutions Developer with 4+ years of experience in developing AI mo	2024-05-18 09:29:30.697693	17	3	Bachelor's degree in Computer Science, Engineering, or related field.
Minimum of 4 years of experie
8	Front End Developer	Projects are found in the most evolving area of the Investment Banking domain - Asset Management. Bu	High-quality front-end application development using client and server-side JavaScript, CSS3, semant	Chennai,Tamilnadu	Frontend	This job is for an experienced React UI Developer (min. 8 years, 2 years in a lead role) to work on 	2024-05-18 09:30:28.039608	17	3	Overall 8+ years of experience as a React UI Developer, at least 2 years in Lead role:
A passion fo
9	MLOPS Engineer	We are seeking an experienced Lead MLOps Engineer, expertise in machine learning operations. The ide	Strategise, plan and deliver MLOps initiatives by liasing with key business stakeholders
Design, de	Banglore,India	MLOps	The company is looking for an experienced Lead MLOps Engineer with a minimum of 9 years of MLOps exp	2024-05-18 09:34:24.895536	18	4	Minimum of 9 years of hands-on experience in MLOps with a focus on deploying AI/ML solutions.
Prove
*/


CREATE TABLE auth_group (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(150) NOT NULL,
	PRIMARY KEY (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_group table:
id	name

*/


CREATE TABLE auth_group_permissions (
	id BIGINT NOT NULL AUTO_INCREMENT,
	group_id INTEGER NOT NULL,
	permission_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY(permission_id) REFERENCES auth_permission (id),
	CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY(group_id) REFERENCES auth_group (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_group_permissions table:
id	group_id	permission_id

*/


CREATE TABLE auth_permission (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(255) NOT NULL,
	content_type_id INTEGER NOT NULL,
	codename VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY(content_type_id) REFERENCES django_content_type (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_permission table:
id	name	content_type_id	codename
1	Can add log entry	1	add_logentry
2	Can change log entry	1	change_logentry
3	Can delete log entry	1	delete_logentry
*/


CREATE TABLE auth_user (
	id INTEGER NOT NULL AUTO_INCREMENT,
	password VARCHAR(128) NOT NULL,
	last_login DATETIME(6),
	is_superuser TINYINT(1) NOT NULL,
	username VARCHAR(150) NOT NULL,
	first_name VARCHAR(150) NOT NULL,
	last_name VARCHAR(150) NOT NULL,
	email VARCHAR(254) NOT NULL,
	is_staff TINYINT(1) NOT NULL,
	is_active TINYINT(1) NOT NULL,
	date_joined DATETIME(6) NOT NULL,
	PRIMARY KEY (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_user table:
id	password	last_login	is_superuser	username	first_name	last_name	email	is_staff	is_active	date_joined
1	pbkdf2_sha256$720000$cqt9llOExEFyMKGkF3FtYG$IjACph1ZSrgdzU1+dzrIcyx+9VqZnO27VDLyRoJgwDE=	2024-05-17 13:08:46.936410	1	testuser			shaneebkottakkal@gmail.com	1	1	2024-05-13 20:47:56.146812
2	pbkdf2_sha256$720000$iYkAnkaTQO1gcIRaIe54lo$KNDRNWhL34dhNsrRGBogz64pSV9tAcaU0YykgojHDaE=	2024-05-13 20:48:48.327896	0	testuser100				0	1	2024-05-13 20:48:41.842507
3	pbkdf2_sha256$720000$u2lGl1rmkoNj3Vffu7kbSF$8YvurRtbcUnGvuPyJWx+mqqPZWgjF2UxN5rrwzN+ESM=	2024-05-13 20:58:55.354830	0	testuser102				0	1	2024-05-13 20:54:14.724684
*/


CREATE TABLE auth_user_groups (
	id BIGINT NOT NULL AUTO_INCREMENT,
	user_id INTEGER NOT NULL,
	group_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY(group_id) REFERENCES auth_group (id),
	CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY(user_id) REFERENCES auth_user (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_user_groups table:
id	user_id	group_id

*/


CREATE TABLE auth_user_user_permissions (
	id BIGINT NOT NULL AUTO_INCREMENT,
	user_id INTEGER NOT NULL,
	permission_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY(permission_id) REFERENCES auth_permission (id),
	CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY(user_id) REFERENCES auth_user (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_user_user_permissions table:
id	user_id	permission_id

*/


CREATE TABLE django_admin_log (
	id INTEGER NOT NULL AUTO_INCREMENT,
	action_time DATETIME(6) NOT NULL,
	object_id LONGTEXT,
	object_repr VARCHAR(200) NOT NULL,
	action_flag SMALLINT UNSIGNED NOT NULL,
	change_message LONGTEXT NOT NULL,
	content_type_id INTEGER,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY(content_type_id) REFERENCES django_content_type (id),
	CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY(user_id) REFERENCES auth_user (id),
	CONSTRAINT django_admin_log_chk_1 CHECK ((`action_flag` >= 0))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from django_admin_log table:
id	action_time	object_id	object_repr	action_flag	change_message	content_type_id	user_id
1	2024-05-14 04:34:40.902920	1	Mohammed Shaneeb	1	[{"added": {}}]	7	1
*/


CREATE TABLE django_content_type (
	id INTEGER NOT NULL AUTO_INCREMENT,
	app_label VARCHAR(100) NOT NULL,
	model VARCHAR(100) NOT NULL,
	PRIMARY KEY (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from django_content_type table:
id	app_label	model
1	admin	logentry
8	adminapp	companyprofile
10	adminapp	jobapplication
*/


CREATE TABLE django_migrations (
	id BIGINT NOT NULL AUTO_INCREMENT,
	app VARCHAR(255) NOT NULL,
	name VARCHAR(255) NOT NULL,
	applied DATETIME(6) NOT NULL,
	PRIMARY KEY (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from django_migrations table:
id	app	name	applied
1	contenttypes	0001_initial	2024-05-13 20:46:36.809813
2	auth	0001_initial	2024-05-13 20:46:44.359709
3	admin	0001_initial	2024-05-13 20:46:46.119973
*/


CREATE TABLE django_session (
	session_key VARCHAR(40) NOT NULL,
	session_data LONGTEXT NOT NULL,
	expire_date DATETIME(6) NOT NULL,
	PRIMARY KEY (session_key)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from django_session table:
session_key	session_data	expire_date
d99j92vqzls1vgh18t9ihfqcrwh9kcja	.eJyVVvtv2zYQ_lcOBoZumO34lUf70xzXa90mTWa73YZlCCjpLDGmSI2PpO6w_313lPxaswFDAEeijncf7_vujn-27kXwxX1waO9	2024-06-04 17:06:31.042443
ixchn2piavsidg63ibfp6k8k5yjjft49	.eJxVjEEOgjAQRe_StWmmLVM6Lt17BjJlBosaSCisjHdXEha6_e-9_zIdb2vptqpLN4o5Gwfm9Dtm7h867UTuPN1m28_TuozZ7oo	2024-06-01 08:23:00.529147
uob77vguru0w4erulu59ljz9ikqogb10	e30:1s7XOa:0phwvRlm2Rypv09CftJ7G7jOo8x6JYykodzFH0Ew9ZI	2024-05-30 09:27:28.185978
*/


CREATE TABLE userapp_candidatedetails (
	candidate_id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	email VARCHAR(254) NOT NULL,
	age INTEGER UNSIGNED NOT NULL,
	exp INTEGER UNSIGNED NOT NULL,
	domain VARCHAR(100) NOT NULL,
	skills JSON NOT NULL,
	technologies JSON NOT NULL,
	resume_link VARCHAR(200) NOT NULL,
	user_id INTEGER NOT NULL,
	education VARCHAR(100) NOT NULL,
	phone VARCHAR(15),
	resume_content LONGTEXT,
	PRIMARY KEY (candidate_id),
	CONSTRAINT userapp_candidatedetails_user_id_1a3f57fb_fk_auth_user_id FOREIGN KEY(user_id) REFERENCES auth_user (id),
	CONSTRAINT userapp_candidatedetails_chk_1 CHECK ((`age` >= 0)),
	CONSTRAINT userapp_candidatedetails_chk_2 CHECK ((`exp` >= 0))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from userapp_candidatedetails table:
candidate_id	name	email	age	exp	domain	skills	technologies	resume_link	user_id	education	phone	resume_content
1	Mohammed Shaneeb	shaneebshanu2k@gmail.com	10	1	ml	['ml', 'django']	['ml', 'django']	https://example.com/john_doe_resume.pdf	3		None	None
2	Muhasin new	shaneeb@wexorai.com	20	2	sdf	['ml']	['ml']	https://example.com/john_ddoe_resume.pdf	4		None	None
3	Shihar	shihar@wexa.com	20	3	sdf	['ml', 'df']	['ml']	https://examdple.com/johnd_ddoe_resume.pdf	5		None	None
*/

In [8]:
chain = create_sql_query_chain(llm, db)
chain.get_prompts()[0].pretty_print()

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

## Table definitions and example rows

In [9]:
context = db.get_context()
print(list(context))
print(context["table_info"])

['table_info', 'table_names']

CREATE TABLE adminapp_companyprofile (
	id BIGINT NOT NULL AUTO_INCREMENT,
	company_name VARCHAR(255) NOT NULL,
	company_details LONGTEXT NOT NULL,
	logo VARCHAR(100) NOT NULL,
	company_website VARCHAR(200) NOT NULL,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT adminapp_companyprofile_user_id_c07b6444_fk_auth_user_id FOREIGN KEY(user_id) REFERENCES auth_user (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from adminapp_companyprofile table:
id	company_name	company_details	logo	company_website	user_id
1	Botit	Robotics Company	company_logos/tf_logo_social.png	https://www.tensorflow.org/	1
2	Google	Google LLC is an American multinational corporation and technology company focusing on online advert	company_logos/iphone.jpg	https://www.google.com/	20
3	qualcomm	Qualcomm Incorporated is an American multinational corporation headquartered in San Diego, Californi	company_logos/qualcomm.png	https://www.qualcomm.com/	17
*/


CREATE TABLE adminapp_jobapplication (
	id BIGINT NOT NULL AUTO_INCREMENT,
	job_id VARCHAR(50) NOT NULL,
	job_title VARCHAR(100) NOT NULL,
	candidate_name VARCHAR(100) NOT NULL,
	score DECIMAL(5, 2) NOT NULL,
	phone VARCHAR(15) NOT NULL,
	email VARCHAR(254) NOT NULL,
	experience INTEGER UNSIGNED NOT NULL,
	age INTEGER UNSIGNED NOT NULL,
	resume_link VARCHAR(200) NOT NULL,
	skills JSON NOT NULL,
	technologies JSON NOT NULL,
	score_summary LONGTEXT,
	PRIMARY KEY (id),
	CONSTRAINT adminapp_jobapplication_chk_1 CHECK ((`experience` >= 0)),
	CONSTRAINT adminapp_jobapplication_chk_2 CHECK ((`age` >= 0))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from adminapp_jobapplication table:
id	job_id	job_title	candidate_name	score	phone	email	experience	age	resume_link	skills	technologies	score_summary
1	23	Machine Learning Engineer	Mohammed Shaneeb	70.00	8304046116	shaneebkottakkal@gmail.com	1	20	https://tinyurl.com/2ayahlm7	["QLORA", "Falcon", "NLP", "Gemma", "AWS", "Vector Database", "Chroma DB", "GCP", "Spacy", "LLM", "G	["QLORA", "Pandas", "Classification", "Falcon", "Fine-Tuning", "NLP", "Deep Learning", "NER", "Gemma	The candidate has a strong technical background in ML/DL with experience in NLP, chatbots, and deplo
2	18	MLOPS	Mohammed Shaneeb	20.00	8304046116	shaneebkottakkal@gmail.com	1	20	https://tinyurl.com/2ayahlm7	["QLORA", "Falcon", "NLP", "Gemma", "AWS", "Vector Database", "Chroma DB", "GCP", "Spacy", "LLM", "G	["QLORA", "Pandas", "Classification", "Falcon", "Fine-Tuning", "NLP", "Deep Learning", "NER", "Gemma	The resume does not meet the job requirements as it is heavily focused on machine learning and data
3	17	Machine Learning Engineer	Mohammed Shaneeb	85.00	8304046116	shaneebkottakkal@gmail.com	1	20	https://tinyurl.com/2ayahlm7	["QLORA", "Falcon", "NLP", "Gemma", "AWS", "Vector Database", "Chroma DB", "GCP", "Spacy", "LLM", "G	["QLORA", "Pandas", "Classification", "Falcon", "Fine-Tuning", "NLP", "Deep Learning", "NER", "Gemma	The candidate has a strong background in AI and machine learning, with experience in fine-tuning mod
*/


CREATE TABLE adminapp_jobposting (
	id BIGINT NOT NULL AUTO_INCREMENT,
	title VARCHAR(255) NOT NULL,
	job_description LONGTEXT NOT NULL,
	responsibilities LONGTEXT NOT NULL,
	location VARCHAR(255) NOT NULL,
	domain VARCHAR(255) NOT NULL,
	summary LONGTEXT NOT NULL,
	date DATETIME(6) NOT NULL,
	created_by_id INTEGER NOT NULL,
	company_profile_id BIGINT,
	requirements LONGTEXT NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT adminapp_jobposting_company_profile_id_bfaf9260_fk_adminapp_ FOREIGN KEY(company_profile_id) REFERENCES adminapp_companyprofile (id),
	CONSTRAINT adminapp_jobposting_created_by_id_0c61d044_fk_auth_user_id FOREIGN KEY(created_by_id) REFERENCES auth_user (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from adminapp_jobposting table:
id	title	job_description	responsibilities	location	domain	summary	date	created_by_id	company_profile_id	requirements
7	Machine Learning Engineer	We are seeking a talented and experienced Android AI Solutions Developer to join our team in Kozhiko	Collaborate with cross-functional teams to understand project requirements and develop AI-driven sol	Banglore,India	ML	We are looking for an Android AI Solutions Developer with 4+ years of experience in developing AI mo	2024-05-18 09:29:30.697693	17	3	Bachelor's degree in Computer Science, Engineering, or related field.
Minimum of 4 years of experie
8	Front End Developer	Projects are found in the most evolving area of the Investment Banking domain - Asset Management. Bu	High-quality front-end application development using client and server-side JavaScript, CSS3, semant	Chennai,Tamilnadu	Frontend	This job is for an experienced React UI Developer (min. 8 years, 2 years in a lead role) to work on 	2024-05-18 09:30:28.039608	17	3	Overall 8+ years of experience as a React UI Developer, at least 2 years in Lead role:
A passion fo
9	MLOPS Engineer	We are seeking an experienced Lead MLOps Engineer, expertise in machine learning operations. The ide	Strategise, plan and deliver MLOps initiatives by liasing with key business stakeholders
Design, de	Banglore,India	MLOps	The company is looking for an experienced Lead MLOps Engineer with a minimum of 9 years of MLOps exp	2024-05-18 09:34:24.895536	18	4	Minimum of 9 years of hands-on experience in MLOps with a focus on deploying AI/ML solutions.
Prove
*/


CREATE TABLE auth_group (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(150) NOT NULL,
	PRIMARY KEY (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_group table:
id	name

*/


CREATE TABLE auth_group_permissions (
	id BIGINT NOT NULL AUTO_INCREMENT,
	group_id INTEGER NOT NULL,
	permission_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY(permission_id) REFERENCES auth_permission (id),
	CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY(group_id) REFERENCES auth_group (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_group_permissions table:
id	group_id	permission_id

*/


CREATE TABLE auth_permission (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(255) NOT NULL,
	content_type_id INTEGER NOT NULL,
	codename VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY(content_type_id) REFERENCES django_content_type (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_permission table:
id	name	content_type_id	codename
1	Can add log entry	1	add_logentry
2	Can change log entry	1	change_logentry
3	Can delete log entry	1	delete_logentry
*/


CREATE TABLE auth_user (
	id INTEGER NOT NULL AUTO_INCREMENT,
	password VARCHAR(128) NOT NULL,
	last_login DATETIME(6),
	is_superuser TINYINT(1) NOT NULL,
	username VARCHAR(150) NOT NULL,
	first_name VARCHAR(150) NOT NULL,
	last_name VARCHAR(150) NOT NULL,
	email VARCHAR(254) NOT NULL,
	is_staff TINYINT(1) NOT NULL,
	is_active TINYINT(1) NOT NULL,
	date_joined DATETIME(6) NOT NULL,
	PRIMARY KEY (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_user table:
id	password	last_login	is_superuser	username	first_name	last_name	email	is_staff	is_active	date_joined
1	pbkdf2_sha256$720000$cqt9llOExEFyMKGkF3FtYG$IjACph1ZSrgdzU1+dzrIcyx+9VqZnO27VDLyRoJgwDE=	2024-05-17 13:08:46.936410	1	testuser			shaneebkottakkal@gmail.com	1	1	2024-05-13 20:47:56.146812
2	pbkdf2_sha256$720000$iYkAnkaTQO1gcIRaIe54lo$KNDRNWhL34dhNsrRGBogz64pSV9tAcaU0YykgojHDaE=	2024-05-13 20:48:48.327896	0	testuser100				0	1	2024-05-13 20:48:41.842507
3	pbkdf2_sha256$720000$u2lGl1rmkoNj3Vffu7kbSF$8YvurRtbcUnGvuPyJWx+mqqPZWgjF2UxN5rrwzN+ESM=	2024-05-13 20:58:55.354830	0	testuser102				0	1	2024-05-13 20:54:14.724684
*/


CREATE TABLE auth_user_groups (
	id BIGINT NOT NULL AUTO_INCREMENT,
	user_id INTEGER NOT NULL,
	group_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY(group_id) REFERENCES auth_group (id),
	CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY(user_id) REFERENCES auth_user (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_user_groups table:
id	user_id	group_id

*/


CREATE TABLE auth_user_user_permissions (
	id BIGINT NOT NULL AUTO_INCREMENT,
	user_id INTEGER NOT NULL,
	permission_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY(permission_id) REFERENCES auth_permission (id),
	CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY(user_id) REFERENCES auth_user (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from auth_user_user_permissions table:
id	user_id	permission_id

*/


CREATE TABLE django_admin_log (
	id INTEGER NOT NULL AUTO_INCREMENT,
	action_time DATETIME(6) NOT NULL,
	object_id LONGTEXT,
	object_repr VARCHAR(200) NOT NULL,
	action_flag SMALLINT UNSIGNED NOT NULL,
	change_message LONGTEXT NOT NULL,
	content_type_id INTEGER,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY(content_type_id) REFERENCES django_content_type (id),
	CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY(user_id) REFERENCES auth_user (id),
	CONSTRAINT django_admin_log_chk_1 CHECK ((`action_flag` >= 0))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from django_admin_log table:
id	action_time	object_id	object_repr	action_flag	change_message	content_type_id	user_id
1	2024-05-14 04:34:40.902920	1	Mohammed Shaneeb	1	[{"added": {}}]	7	1
*/


CREATE TABLE django_content_type (
	id INTEGER NOT NULL AUTO_INCREMENT,
	app_label VARCHAR(100) NOT NULL,
	model VARCHAR(100) NOT NULL,
	PRIMARY KEY (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from django_content_type table:
id	app_label	model
1	admin	logentry
8	adminapp	companyprofile
10	adminapp	jobapplication
*/


CREATE TABLE django_migrations (
	id BIGINT NOT NULL AUTO_INCREMENT,
	app VARCHAR(255) NOT NULL,
	name VARCHAR(255) NOT NULL,
	applied DATETIME(6) NOT NULL,
	PRIMARY KEY (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from django_migrations table:
id	app	name	applied
1	contenttypes	0001_initial	2024-05-13 20:46:36.809813
2	auth	0001_initial	2024-05-13 20:46:44.359709
3	admin	0001_initial	2024-05-13 20:46:46.119973
*/


CREATE TABLE django_session (
	session_key VARCHAR(40) NOT NULL,
	session_data LONGTEXT NOT NULL,
	expire_date DATETIME(6) NOT NULL,
	PRIMARY KEY (session_key)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from django_session table:
session_key	session_data	expire_date
d99j92vqzls1vgh18t9ihfqcrwh9kcja	.eJyVVvtv2zYQ_lcOBoZumO34lUf70xzXa90mTWa73YZlCCjpLDGmSI2PpO6w_313lPxaswFDAEeijncf7_vujn-27kXwxX1waO9	2024-06-04 17:06:31.042443
ixchn2piavsidg63ibfp6k8k5yjjft49	.eJxVjEEOgjAQRe_StWmmLVM6Lt17BjJlBosaSCisjHdXEha6_e-9_zIdb2vptqpLN4o5Gwfm9Dtm7h867UTuPN1m28_TuozZ7oo	2024-06-01 08:23:00.529147
uob77vguru0w4erulu59ljz9ikqogb10	e30:1s7XOa:0phwvRlm2Rypv09CftJ7G7jOo8x6JYykodzFH0Ew9ZI	2024-05-30 09:27:28.185978
*/


CREATE TABLE userapp_candidatedetails (
	candidate_id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	email VARCHAR(254) NOT NULL,
	age INTEGER UNSIGNED NOT NULL,
	exp INTEGER UNSIGNED NOT NULL,
	domain VARCHAR(100) NOT NULL,
	skills JSON NOT NULL,
	technologies JSON NOT NULL,
	resume_link VARCHAR(200) NOT NULL,
	user_id INTEGER NOT NULL,
	education VARCHAR(100) NOT NULL,
	phone VARCHAR(15),
	resume_content LONGTEXT,
	PRIMARY KEY (candidate_id),
	CONSTRAINT userapp_candidatedetails_user_id_1a3f57fb_fk_auth_user_id FOREIGN KEY(user_id) REFERENCES auth_user (id),
	CONSTRAINT userapp_candidatedetails_chk_1 CHECK ((`age` >= 0)),
	CONSTRAINT userapp_candidatedetails_chk_2 CHECK ((`exp` >= 0))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from userapp_candidatedetails table:
candidate_id	name	email	age	exp	domain	skills	technologies	resume_link	user_id	education	phone	resume_content
1	Mohammed Shaneeb	shaneebshanu2k@gmail.com	10	1	ml	['ml', 'django']	['ml', 'django']	https://example.com/john_doe_resume.pdf	3		None	None
2	Muhasin new	shaneeb@wexorai.com	20	2	sdf	['ml']	['ml']	https://example.com/john_ddoe_resume.pdf	4		None	None
3	Shihar	shihar@wexa.com	20	3	sdf	['ml', 'df']	['ml']	https://examdple.com/johnd_ddoe_resume.pdf	5		None	None
*/

In [12]:
prompt_with_context = chain.get_prompts()[0].partial(table_info=context["table_info"])
print(prompt_with_context.pretty_repr()[:1500])

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:

CREATE TABLE adminapp_companyprofile (
	id BIGINT NOT NULL AUTO_INCREMENT,
	company_name VARCHAR(255) NOT NULL,
	company_details LONGTEXT NOT NULL,
	logo VARCHAR(100) NOT NULL,
	company_website VARCHAR(200) NOT NULL,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT adminapp_companyprofile_user_id_c07b6444_fk_auth_user_id FOREIGN KEY(user_id) REFERENCES auth_user (id)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAU

In [13]:
response = chain.invoke({"question": "How many jobs are in there"})
response

'SELECT COUNT(*) AS `num_jobs` \nFROM adminapp_jobposting;'

In [14]:
db.run(response)

'[(17,)]'

In [15]:
response = chain.invoke({"question": "Shortlist top candidates with job_id=17"})
response

'```sql\nSELECT\n  `candidate_name`,\n  `score`\nFROM `adminapp_jobapplication`\nWHERE\n  `job_id` = 17\nORDER BY\n  `score` DESC\nLIMIT 5;\n```'

In [16]:
db.run(response)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '```sql\nSELECT\n  `candidate_name`,\n  `score`\nFROM `adminapp_jobapplication`\nWHERE' at line 1")
[SQL: ```sql
SELECT
  `candidate_name`,
  `score`
FROM `adminapp_jobapplication`
WHERE
  `job_id` = 17
ORDER BY
  `score` DESC
LIMIT 5;
```]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Few Short Examples

In [ ]:
examples = [
    {"input": "from job_id=19. List all applicants.", "query": "SELECT * FROM adminapp_jobapplication WHERE job_id = 19;"},
    {
        "input": "from job_id=19. Shortlist top applicants ",
        "query": "SELECT * FROM adminapp_jobapplication WHERE job_id = 19 ORDER BY score DESC LIMIT 3;",
    },
    {
        "input": "from job_id=23. Shortlist top 5 applicants",
        "query": "SELECT * FROM adminapp_jobapplication WHERE job_id = 23 ORDER BY score DESC LIMIT 5;",
    },
    {
        "input": "from job_id=14. Shortlist 5 applicants",
        "query": "SELECT * FROM adminapp_jobapplication WHERE job_id = 14 ORDER BY score DESC LIMIT 5;",
    },
    {
        "input": "from job_id=18. Shortlist applicants with score more than 80",
        "query": "SELECT * FROM adminapp_jobapplication WHERE job_id = 18 AND score > 80;",
    },
    {
        "input": "from job_id=18. Shortlist applicants with skills Lora and Fine-Tuning",
        "query": "SELECT * FROM adminapp_jobapplication WHERE (LOWER(skills) LIKE '%lora%' OR LOWER(skills) LIKE '%fine%tuning%') AND job_id = 18;",
    },
    {
        "input": "from job_id=18. Shortlist applicants with skills Lora and Fine-Tuning",
        "query": "SELECT COUNT(*) FROM Invoice;",
    },
    {
        "input": "List all tracks that are longer than 5 minutes.",
        "query": "SELECT * FROM Track WHERE Milliseconds > 300000;",
    },
    {
        "input": "Who are the top 5 customers by total purchase?",
        "query": "SELECT CustomerId, SUM(Total) AS TotalPurchase FROM Invoice GROUP BY CustomerId ORDER BY TotalPurchase DESC LIMIT 5;",
    },
    {
        "input": "Which albums are from the year 2000?",
        "query": "SELECT * FROM Album WHERE strftime('%Y', ReleaseDate) = '2000';",
    },
    {
        "input": "How many employees are there",
        "query": 'SELECT COUNT(*) FROM "Employee"',
    },
]